<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Security beans -->
    <sec:http pattern="/purchase/*.action">
        <sec:intercept-url pattern="/purchase/*.action" access="ROLE_CUSTOMER"/>
        <sec:form-login login-page="/jsp/login.jsp" default-target-url="/onLogon.action"
                        authentication-failure-url="/jsp/login.jsp?error=true"
                        always-use-default-target="false"/>
        <sec:logout/>
    </sec:http>

    <sec:http>
        <sec:intercept-url pattern="/manager/*.action" access="ROLE_MANAGER"/>
        <sec:form-login login-page="/jsp/login.jsp" default-target-url="/onLogon.action"
                        authentication-failure-url="/jsp/login.jsp?error=true"
                        always-use-default-target="true"/>
        <sec:logout/>
    </sec:http>
</beans>